In [1]:
from sqlalchemy import create_engine
from pandas.io.sql import read_sql

conn_string = 'postgresql://iangow.me/crsp'
engine = create_engine(conn_string)

In [2]:
tone_data = read_sql("SELECT category, word_list FROM lm_tone", engine)
tone_data = tone_data.set_index(['category'])

In [3]:
import re

def make_regex(word_list):
    mod_word_list = [word.lower() for word in word_list]
    regex = '\\b(?:' + '|'.join(mod_word_list) + ')\\b'
    return  re.compile(regex)

tone_data
categories = [cat for cat in tone_data.index]

In [4]:
def get_regex_matches(category, text):
    regex = make_regex(tone_data.ix[category]['word_list'])
    return re.findall(regex, text)

In [5]:
file_name = '999419_T'

sql = """
    SELECT speaker_name, role, context,
        file_name, last_update, speaker_number, speaker_text
    FROM streetevents.speaker_data
    WHERE file_name='%s'
    ORDER BY context, speaker_number
""" % (file_name)

df = read_sql(sql, engine)
some_text = df["speaker_text"][3]
some_text

"Thank you, Mike. We continue to see major success with the Company's transition to high, value-added products and increased profitability. IR proprietary product revenues grew 39 percent year-on-year and now comprise 69 percent of Company revenues. The fastest growing segment of our business, analog ICs and advance circuit devices, grew 47 percent year-on-year and now comprise 57 percent of our revenues. In fact, sales from these products have more than doubled in the last eight quarters fueled by success in both IT and energy-conserving applications. This richer mix has enabled us to grow our gross margins 11 percentage points, setting a new high of 43.3 percent in this quarter. In the December quarter, we saw double-digit revenue growth across all end-markets, year-over-year. Also, we realized record proprietary product design wins, which grew 10 percent, sequentially, and 33 percent year-on-year. In Information Technology, we grew revenues 30 percent year-over-year, and we continued to capture key design wins. Our ICs and advanced circuit devices won leading positions at five of the top PC and server companies and two of the top communications networking companies. In notebooks, IR won six new designs for Intel's latest Dothan platform. In desktops, IR secured three additional designs based on Intel's Grantsdale platform. In high-performance servers, IR won 15 new designs in platforms using Intel's Nocona processor and Lindenhurst chipset and an additional six designs in other processor platforms. In upcoming dual-processor and multi-processor Intel-based products, IR captured eight designs. In next generation Itanium platforms, IR won three designs. In energy conserving applications, our proprietary products continued their strong growth. In appliances, our revenues grew 30 percent over the prior quarter and 70 percent year-over-year. The December quarter included key programs from Whirlpool, Electrolux, Haier, Sanyo, Toshiba, Miele, Dyson, and Frigidaire. In automotive, IR's power systems, ICs and advance circuit devices are now ramping in several of the most popular 2005 production vehicles, including the GM Silverado/Sierra hybrid truck, Ford Mustang, Chrysler 300, Dodge Magnum, and now, in the world's leading hybrid vehicle. IR has also won new designs in electric steering, direct injection, engine preheat, engine management, and electric fan control systems for Daimler Chrysler, Ford, VW, and BMW vehicles. Since first detailing our plan in March 2000 to transform our Company from a commodity/component orientation to a proprietary product focus, we have made significant progress. We are now moving forward with another major phase of our long-term business strategy towards high value-added products. Over the last eight quarters, margins grew 11 percentage points. Over the next six quarters, we will continue to expand our proprietary product portfolio and plan to reach greater than 50 percent gross margin for the Company within this period. This will involve a follow-on divestiture or discontinuation of $150 million in annual revenues that no longer add value to our business objectives. Our current visualization does not include any restructuring charges associated with these activities. In the March quarter, revenues are expected to be flat to down 6 percent, sequentially. We have more than 80 percent backlog coverage of our target revenue for the quarter. We expect our overall gross margin to be flat, sequentially, plus or minus a point. We continue to extend our leadership position in power management. Over the last 12 months, we've seen a strong take-up in our energy conserving proprietary products, as evidenced by 50 percent revenue growth in energy efficient appliances and over 100 percent growth in energy efficient lighting. Our new proprietary products for IT have driven our nearly 50 percent growth in that market. With over half a billion dollars in new design wins in the last four quarters, we are confident in our ability to execute on the next phase of our transformation and exceed 50 percent overall gross margin. "

In [6]:
def get_tone_data(text):
    text = text.lower()
    the_dict = {category: len(get_regex_matches(category, text))
                            for category in categories}
    return the_dict

In [7]:
get_tone_data(some_text)

{'litigious': 0,
 'modal_strong': 2,
 'modal_weak': 1,
 'negative': 3,
 'positive': 15,
 'uncertainty': 1}

In [8]:
df["tone_count"] = df["speaker_text"].map(get_tone_data)
df.drop(["speaker_name", "role", "speaker_text"], axis=1, inplace=True)

In [9]:
for key in categories:
    df[key] = df["tone_count"].map(lambda x: x[key])
df.drop(["tone_count"], axis=1, inplace=True)

In [10]:
df

,context,file_name,last_update,speaker_number,positive,negative,litigious,modal_strong,modal_weak,uncertainty
0,pres,999419_T,2005-01-28 14:26:07,1,0,0,0,0,0,0
1,pres,999419_T,2005-01-28 14:26:07,2,1,3,1,2,2,4
2,pres,999419_T,2005-01-28 14:26:07,3,2,7,2,1,0,4
3,pres,999419_T,2005-01-28 14:26:07,4,15,3,0,2,1,1
4,pres,999419_T,2005-01-28 14:26:07,5,1,5,0,0,0,0
5,pres,999419_T,2005-01-28 14:26:07,6,0,1,0,0,0,0
6,qa,999419_T,2005-01-28 14:26:07,1,0,0,0,1,0,1
7,qa,999419_T,2005-01-28 14:26:07,2,0,3,0,2,0,0
8,qa,999419_T,2005-01-28 14:26:07,3,0,2,0,0,0,0
9,qa,999419_T,2005-01-28 14:26:07,4,1,0,0,0,0,0
10,qa,999419_T,2005-01-28 14:26:07,5,0,1,0,0,0,0
11,qa,999419_T,2005-01-28 14:26:07,6,0,1,0,0,0,0
12,qa,999419_T,2005-01-28 14:26:07,7,0,0,0,0,1,1
13,qa,999419_T,2005-01-28 14:26:07,8,0,2,0,1,0,2
14,qa,999419_T,2005-01-28 14:26:07,9,0,1,0,0,0,0
15,qa,999419_T,2005-01-28 14:26:07,10,0,0,0,3,1,1
16,qa,999419_T,2005-01-28 14:26:07,11,0,1,0,0,0,0
17,qa,999419_T,2005-01-28 14:26:07,12,2,1,0,3,0,0
18,qa,999419_T,2005-01-28 14:26:07,13,0,0,0,0,0,0
19,qa,999419_T,2005-01-28 14:26:07,14,0,1,0,0,0,0
20,qa,999419_T,2005-01-28 14:26:07,15,0,1,0,0,1,1
21,qa,999419_T,2005-01-28 14:26:07,16,0,0,0,1,1,1
22,qa,999419_T,2005-01-28 14:26:07,17,0,0,0,0,0,0
23,qa,999419_T,2005-01-28 14:26:07,18,0,0,0,0,0,0
24,qa,999419_T,2005-01-28 14:26:07,19,0,0,0,0,0,0
25,qa,999419_T,2005-01-28 14:26:07,20,1,0,0,1,0,0
26,qa,999419_T,2005-01-28 14:26:07,21,0,0,0,0,0,0
27,qa,999419_T,2005-01-28 14:26:07,22,0,1,0,0,0,0
28,qa,999419_T,2005-01-28 14:26:07,23,0,3,0,1,1,1
29,qa,999419_T,2005-01-28 14:26:07,24,0,6,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
97,qa,999419_T,2005-01-28 14:26:07,92,0,0,0,0,0,0
98,qa,999419_T,2005-01-28 14:26:07,93,0,1,0,0,0,0
99,qa,999419_T,2005-01-28 14:26:07,94,0,0,0,0,0,0
100,qa,999419_T,2005-01-28 14:26:07,95,0,0,0,0,0,0
101,qa,999419_T,2005-01-28 14:26:07,96,0,0,0,1,2,2
102,qa,999419_T,2005-01-28 14:26:07,97,0,1,0,0,1,1
103,qa,999419_T,2005-01-28 14:26:07,98,0,0,0,1,1,1
104,qa,999419_T,2005-01-28 14:26:07,99,0,0,0,2,0,0
105,qa,999419_T,2005-01-28 14:26:07,100,0,0,0,0,0,0
106,qa,999419_T,2005-01-28 14:26:07,101,0,0,0,0,0,1
107,qa,999419_T,2005-01-28 14:26:07,102,0,0,0,0,0,0
108,qa,999419_T,2005-01-28 14:26:07,103,0,1,0,0,0,0
109,qa,999419_T,2005-01-28 14:26:07,104,1,0,0,0,0,0
110,qa,999419_T,2005-01-28 14:26:07,105,0,0,0,0,0,0
111,qa,999419_T,2005-01-28 14:26:07,106,0,1,0,0,1,1
112,qa,999419_T,2005-01-28 14:26:07,107,1,0,0,0,0,0
113,qa,999419_T,2005-01-28 14:26:07,108,1,0,0,0,0,0
114,qa,999419_T,2005-01-28 14:26:07,109,0,1,0,0,0,0
115,qa,999419_T,2005-01-28 14:26:07,110,0,0,0,0,1,1
116,qa,999419_T,2005-01-28 14:26:07,111,3,1,0,0,0,0
117,qa,999419_T,2005-01-28 14:26:07,112,0,0,0,0,0,0
118,qa,999419_T,2005-01-28 14:26:07,113,0,1,0,0,0,0
119,qa,999419_T,2005-01-28 14:26:07,114,1,1,0,0,0,0
120,qa,999419_T,2005-01-28 14:26:07,115,0,1,0,0,0,0
121,qa,999419_T,2005-01-28 14:26:07,116,0,0,0,0,0,0
122,qa,999419_T,2005-01-28 14:26:07,117,0,0,0,0,0,0
123,qa,999419_T,2005-01-28 14:26:07,118,0,0,0,0,0,0
124,qa,999419_T,2005-01-28 14:26:07,119,0,1,0,0,0,0
125,qa,999419_T,2005-01-28 14:26:07,120,0,0,0,0,1,3
126,qa,999419_T,2005-01-28 14:26:07,121,0,0,0,0,0,0

In [11]:
# Next write data to PostgreSQL